<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
	<type name="FishPig\WordPress\Helper\Filter">
		<plugin name="FishPig_WordPress_DisableWpautop" type="FishPig\WordPress_DisableWpautop\Plugin\FishPig_WordPress\Helper\FilterPlugin" sortOrder="0" disabled="false"  />
	</type>
</config>